server:
  port: 8765

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: job-posting-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/jobs/**
          filters:
            - StripPrefix=1
        
        - id: profile-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/profiles/**
          filters:
            - StripPrefix=1
        
        - id: matching-service
          uri: http://localhost:8083
          predicates:
            - Path=/api/matching/**
          filters:
            - StripPrefix=1
        
        - id: application-service
          uri: http://localhost:8084
          predicates:
            - Path=/api/applications/**
          filters:
            - StripPrefix=1
      
      globalcors:
        cors-configurations:
          '[/**]':
            allowedOrigins: "*"
            allowedMethods:
              - GET
              - POST
              - PUT
              - DELETE
              - OPTIONS
            allowedHeaders: "*"
            allowCredentials: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,gateway

logging:
  level:
    org.springframework.cloud.gateway: DEBUG

